.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.95);
    z-index: 99999;

    display: flex;
    justify-content: center;
    align-items: center;
}

.storyContainer {
    width: 400px;
    height: 700px;
    max-width: 100%;
    max-height: 100%;
}

.fechar {
    position: absolute;
    top: 20px;
    right: 20px;

    border: none;
    background: none;

    color: white;

    font-size: 30px;

    cursor: pointer;

    z-index: 100000;
}